.sort-by-department-main{
    display: flex;
    flex-direction: column;
}
.sort-by-department-input-main{
    border: none;
    outline: none;
    height: 30px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #e4e5e6;
}
.sort-device-image{
    height: 200px;
    width: 250px;
}
.sort-by-department-output-hello{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(220px, 270px)
      ); /* Dynamic number of columns */
    column-gap: 10px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

@media (min-width: 600px) {
    .sort-by-department-output-hello {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 600px) {
    .sort-by-department-output-hello{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 810px) {
    .sort-by-department-output-hello {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1100px) {
    .sort-by-department-output-hello{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1350px) {
    .sort-by-department-output-hello{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width: 554px) {
    .sort-by-department-output-hello {
      grid-template-columns: 1fr;
    }
  }
  .sort-by-dep-individual{
    font-size: medium;
    font-family: -apple-system;
    background-color: rgb(233, 237, 238);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    color: #414141;
  }
  
.device-by-dep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    height: 100%;
    width: fit-content;
    background-color: #ffffff;
    font-size: medium;
    font-family: -apple-system;
}
.main-home-and-sort-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-left: 30px;
    background-color: black;
    height: 100px;
    font-size: medium;
    font-family: -apple-system;
}
.sort-by-dep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sort-by-department-input{
    margin-left: 20px;
    margin-top: 10px;
    background-color: #e4e5e6;
    padding: 5px;
    font-size: medium;
    font-family: -apple-system;
}
.main-select-and-body{
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
}
.sort-by-department1{
  background-color: #f0f0f0;
  padding: 3px;
}
.sort-by-department2{
  background-color: rgb(245, 245, 245);
  padding: 3px;
}
.sort-by-department3{
  background-color: rgb(240, 240, 240);
  padding: 3px;
}