.profile-image{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.logged-in-user-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black; 
    margin-top: 20px;
    border-bottom: 1px solid rgb(163, 163, 163);
    padding-bottom: 10px;
    font-family: -apple-system;
}
.name-and-lastname{
    width: fit-content;
    color: rgb(204, 204, 204);
    font-size: medium;
    font-weight: bold;
    font-family: -apple-system;
}
.user-name{
    color: white;
    font-size: medium;
    font-family: -apple-system;
}
.logged-in-description-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    z-index: 10000;
    padding-top: 10px;
    
    background-color: light;
}
.log-in-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 5px;
}



