.disposed-grand-device{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.disposed-device-main{
    display: flex;
    align-items: center;
    color:white;
    background: linear-gradient(to top left, #0a284a, #000000); 
    padding-left: 10px;
    width: 100%;
    height: 200px;
    padding-left: 20px;
}
.disposed-individual-device{
    display: flex;
    flex-direction: column;
}
.disposed-main-grid{
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 30px;
   background-color: rgb(87, 151, 206);
   padding: 20px;
   border-radius: 10px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.disposed-device-profile-picture{
    height: 170px;
    width: 100%;
}
.disposed-device-image{
    height: 170px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.disposed-device-name{
    color: black;
    font-weight: 500;
    padding: 5px;
    background-color: rgb(220, 223, 226);
}
.disposed-device-manufacturer{
    color: black;
    font-weight: 500;
    padding:5px;
    background-color: rgb(146, 147, 148);
}
.disposed-device-model{
    background-color: rgb(185, 167, 167);
    color: black;
    padding: 5px;
}
.disposed-individual-device:hover{
    box-shadow: 5px 5px 15px rgba(160, 55, 55, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}
