body{
    overflow-y:auto;
    overflow-x: auto;
    background-color:white;
 }
 
 .engineer-notification-count-display{
     display: flex;
     align-items: center;
     position: relative;
     justify-content: center;
     height: 20px;
     width: 20px;
     left: -15px;
     top:-3px;
     font-size: small;
     background-color: rgba(230, 4, 4, 0.9);
     border-radius: 50%;
     color: white;
     border: 2px solid white;
 }
 .sub-class-engineer{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     row-gap: 40px;
     column-gap: 20px;
     background-color: rgb(255, 255, 255);
     padding-bottom: 50px;
     padding-left: 20px;
     padding-right: 20px;
 }
 .dashboard-device-overview-engineer:hover,
 .sort-by-dep-engineer:hover,
 .alert-and-notification-show-engineer:hover{
     box-shadow: 5px 5px 7px rgba(0,0,0,0.1);
     transition: all 0.3s ;
     background-color: rgba(231, 229, 229, 0.3); 
     cursor: pointer;
     color: black;
 }
 .alert-and-notification-show-engineer{
     display: flex;
     background-color:white;
     color: black;
     padding-right: 10px;
     align-items: center;
     font-size: large;
     height: 70px;
     box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     padding-left: 10px;
     border-radius: 5px;
     justify-content: center;
     font-family:-apple-system;
     color: rgb(87, 85, 85);
     font-weight: bold;
 }
 .doctor-sort-by-dep{
     display: flex;
     box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     color: rgb(87, 85, 85);
     background-color: white;
     font-weight: bold;
     font-size: large;
     padding-right: 10px;
     align-items: center;
     height: 70px;
     padding-left: 10px;
     border-radius: 5px;
     justify-content: center;
     font-family:-apple-system;
 }
 .dashboard-device-overview-engineer{
     display: flex;
     background-color: white;
     color: rgb(87, 85, 85);
     font-weight: bold;
     font-size: large;
     padding-right: 10px;
     align-items: center;
     height: 70px;
     padding-left: 10px;
     border-radius: 5px;
     justify-content: center;
     font-family:-apple-system;
     box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
 }
 .schedule-maintenance{
     display: flex;
     background-color: black;
     align-items: center;
     color: white;
     border-radius: 5px;
     padding-left: 10px;
     height: 70px;
     font-size: x-large;
     justify-content: center;
 }
 .pending-requests{
     display: flex;
     background-color: rgb(16, 107, 138);
     align-items: center;color: white;
     border-radius: 5px;
     font-size: x-large;
     padding-left: 10px;
     justify-content: center;
 }
 .sorts{
     display: flex;
     background-color: rgb(15, 15, 0);
     align-items: center;
     color: white;
     height: 70px;
     padding-left: 10px;
     border-radius: 5px;
     font-size: x-large;
     justify-content: center;
 }
 .reports{
     display: flex;
     background-color: rgb(18, 100, 55);
     align-items: center;
     color: white;
     padding-left: 10px;
     border-radius: 5px;
     font-size: x-large;
     justify-content: center;
 }
 .engineer-dashboard-icons{
     margin-right: 20px;
     font-size:large;
     min-width: 20px;
     min-height: 20px;
     background-color: #3e7ad4;
     color: white;
     padding: 7px;
     border-radius: 50%;
 }
 .engineer-dashboard-icons-bell{
     font-size: large;
     background-color: #3e7ad4;
     padding: 7px;
     color: white;
     border-radius: 50%;
     min-width: 20px;
     min-height: 20px;
 }
 .my-link{
     text-decoration: none;
     height: 70px;
 
 }
 
 .right-part{
   display: flex;
   flex-direction: column;
   margin-left: 0px;
   margin-right: 0px;
   width: 100%;
 }
 
 .main-class{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between; 
 }
 .computer-icon{ 
     margin-right: 20px;
     align-items: center;
     justify-content: center;
 }
 
 .computer-and-title{
     display: flex;
     align-items: center;
     margin-right: 30px;
 }
 .bottom-bar-icons{
     display: flex;
     position: relative;
     flex-direction: column;
 }
 .adresses{
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     border-bottom: 1px solid white;
 }
 .adresses:hover{
     color: yellow;
     cursor: pointer;
 }
 .engineer-the-navigation-main-class{
     display: flex;
     position: relative;
     flex-direction: row;
     align-items: center;
     font-family:-apple-system;
     background-color: black;
     color: white;
     height: 100px;
     padding-left: 30px;
     margin-bottom: 30px;
     box-shadow: 2px 1px 10px rgba(106, 4, 189, 0.342);
     font-size: medium;
 }
 
 .piecharts{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-right: 50px;
     padding-left:50px;
 }
 .bell-and-notification-count{
     display: flex;
 }
 .engineer-notification-null-count{
     opacity: 0;
 }
 .piechart-in-the-dashboard{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-content: center;
     background-color: rgb(255, 255, 255);
     padding-right: 100px;
     padding-left: 100px;
     column-gap: 0px;
 }
 .dashboard-bottom-bar{
     display: flex;
     flex-direction: column;
     color: white;
     align-items: center;
     padding-top: 20px;
     padding-bottom: 20px;
     justify-content: space-between;
     width: 100%;
     margin-top: 50px;
     background-color: #000000;
 }
 .dashboard-computer-and-title{
     display: flex;
     align-items: center;
     margin-left: 20px;
     font-size:x-large;
 }
 .bottombar-description{
     padding: 20px;
 }
 .the-navigation-title-engineer{
    font-size: large;
    font-family: -apple-system;
 }
 
 