 
.engineer-main-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0);
    color: white;
    width: fit-content;
    height:100vh;
    z-index: 100;
    top: 0;
    left:0;
    bottom: 0;
    top: 0;
    left: -300px; /* Start off screen */
    transition: left 0.3s ease; 
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
}
.doctor-nav-bar{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    line-height: 10px;
    
}
.lists{
    display: flex;
    align-items: center;
    line-height: 38px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: medium;
    padding-left: 15px;
    font-family:-apple-system;
    color: rgb(150, 149, 149);
}
.lists:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(28, 28, 29, 0.918);
    border-radius: 5px;
}
.icons{
    margin-right: 10px;  
}
.engineer-close-button{
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    right: 0;
    margin-right: 10px ;
    margin-top: 10px;
    color: white;
    cursor:pointer; 
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: white;
}
.engineer-hum-button{
    background: none;
    display: flex;
    color: white;
    font-size: medium;
    margin-right: 20px;
    height: 100px;
    font-family: -apple-system;
}
  .engineer-open {
    left: 0; 
  }
  
  