.sort-by-reportType-main-report {
  background-color: rgb(255, 255, 255);
  width: max-content;
}
@media (max-width: 1700px) {
  .sort-by-reportType-main-report {
    width:100%
  }
}
.select-and-body-report{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-and-sort-title-report {
  display: flex;
  position: fixed;
  align-items: center;
  padding-left: 30px;
  color: white;
  height: 70px;
  width: 100%;
  font-size: smaller;
  background-color: rgb(2, 26, 70); 
  font-family: -apple-system;
  z-index: 10;
}
.report-table-report {
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  margin: 20px;
}

.report-table-report th,
.report-table-report td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: rgb(255, 255, 255);
  font-family: -apple-system;
  font-size: medium;
}

.report-table-report th {
  font-weight: bold;
  color: white;
  padding: 10px;
  font-family: -apple-system;
  font-size: medium;
  background-color: rgb(3, 22, 77);
  border-top: 1px solid #c9c7c7;
}
.report-table-report tr:nth-child(even) {
  background-color: #be1010; /* Adjust this color as needed */
}

.sort-by-reportType-input-report {
  padding: 5px;
  margin: 20px;
  border: none;
  width: 200px;
  background-color: #f0f0f0;
  font-size: medium;
  font-family: -apple-system;
 
}

.sort-by-reportType-output-report {
  margin: 20px;
  position: relative; /* Add relative positioning */
}

.search-container1 {
  display: flex;
  align-items:center;
  background-color: #eaecea;
  width: fit-content;
  height: max-content;
  margin-top: 20px;
  font-size: medium;
  border-radius: 5px;
  font-family: -apple-system;
}
.search-input {
  padding: 5px;
  font-size: medium;
  font-family: -apple-system;
  border: none;
  outline: none;
  background-color: #eaecea;
  border-radius: 5px;
}

.search-label {
  font-family: -apple-system;
  font-size: large;
  margin-right: 10px;
}
.search-icon-for-report{
  display: flex;
  height: 25px;
  width: 25px;
  background-color: #eaecea;
}
.toggle-columns-btn-head,
.export-btn-csv-head,
.export-btn-pdf-head {
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  font-family: -apple-system;
  font-size: medium;
  background-color: rgba(4, 31, 107, 0.911);
}
.export-btn-pdf {
  background-color: brown;
  color: white;
}
.the-report-table-heading{
  background-color: rgb(3, 22, 77);
  font-size: large;
}
.toggle-columns-btn-head:hover,
.export-btn-csv-head:hover,
.export-btn-pdf-head:hover {
  transition: all 0.3s ;
  background-color: rgb(4, 31, 107);
}