body{
   overflow-y:auto;
   overflow-x: auto;
}

.main-notification-count-display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    left: -15px;
    top: -3px;
    border: 2px solid white;
    font-size: small;
    color: white;
    background-color: rgb(16, 109, 44);
    margin-left: 10px;
    border-radius: 5px;
}
.biomed-admin-sub-class{
    display: flex;
    flex-direction: column;
    background: none;
    padding: 20px;
    row-gap: 20px;
    margin-right: 40px;
    width: 290px;
}
.navigation-section1,
.navigation-section2{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.admin-schedule-maintenance:hover,
.admin-dashboard-device-overview:hover,
.pending-requests:hover,
.dashboard-schedule-maintenance:hover,
.alert-and-notification-show:hover,
.sorts:hover,
.reports:hover{
    transition: all 0.3s ; 
    cursor: pointer;
    background-color: #07612913;
}
.schedule-maintenance,
.pending-requests,
.alert-and-notification-show,
.dashboard-schedule-maintenance,
.admin-dashboard-device-overview{
    display: flex;
    align-items: center;
    color: rgb(83, 82, 82);
    font-weight: bold;
    font-size: medium;
    width: 260px;
    border-radius: 10px;
    font-family:-apple-system;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
}
.sorts{
    display: flex;
    background-color: rgb(15, 15, 0);
    align-items: center;
    color: white;
    font-size: x-large;
    justify-content: center;
}
.main-dashboard-icons{
    margin-right: 10px;
    font-size: medium;
    min-width: 12px;
    min-height:12px;
    background-color: rgba(4, 31, 107, 0.842);
    color: white;
    padding: 7px;
    border-radius: 50%;
}
.dashboard-icons-bell{
    font-size: medium;
    background-color: rgba(4, 31, 107, 0.842);
    padding: 7px;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
    min-width: 15px;
    min-height: 15px;
}
.main-my-link{
    text-decoration: none;
}
.main-right-part{
  display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 20px;
}
.main-classs{
    display: flex;
    flex-direction: column;
    background-color: #e6e2e2;
    width: 100%;
}
.the-title-navigation-main-class{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    font-family:-apple-system;
    background-color: rgb(2, 26, 70);
    color: white;
    height: 100px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 1px 10px rgba(106, 4, 189, 0.342);
    font-size: small;
    z-index: 100;
}

.piecharts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-left:50px;
}
.bell-and-notification-count{
    display: flex;
}
.notification-null-count{
    opacity: 0;
}
.admin-piechart-in-the-dashboard{
    display: grid;
    grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 400px)
  );
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    background:none;
   
}
.dashboard-computer-and-title{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size:x-large;
}
.bottombar-description{
    padding: 20px;
}
.analytical-device-data{
    display: flex;
    justify-content: center;
    justify-content: right;
     margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    background-color: #ffffff;
}
.analytical-data-and-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
}
.the-two-doughnuts{
    display: flex;
    border-radius: 10px;
    width: 100%;
    background: none;
}
@media (min-width: 500px) {
    .the-two-doughnuts {
        display: grid;
      grid-template-columns: 1fr;
    }
  }
@media (min-width: 900px) {
    .the-two-doughnuts {
        display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
@media (min-width: 1300px) {
    .the-two-doughnuts {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
    }
  }
  .links-background{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url('a2.jpg');
    filter: blur(5px);
  }
  .piechart-background{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url('a2.jpg');
    filter: blur(0px);
  }
  .content{
    position: relative;
  }
 .admin-piechart-in-the-dashboardd{
    display: flex;
    align-items: top;
    justify-content: top;
    background:none;
    margin: 10px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
 }
 .head-dashboard-bottom-bar{
    height: 200px;
    background-color: rgba(120, 122, 122, 0.445);
 }
 .tick{
    display: flex;
    font-size: x-large;
    margin-left: 30px;
 }
 .admin-piechart-holder-status,
 .admin-piechart-holder-department,
 .admin-piechart-holder-department-cost{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
 }
 .title-and-date{
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 100px;
    justify-content: space-between;
 }