.main-analysis{
   display: flex;
   align-items: center;
   justify-content: center;
    width:100%;
    margin: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1; /* Ensure content stays above background */
    padding: 20px;

}
h4{
  font-size: medium;
  text-wrap: nowrap;
  font-family: -apple-system;
}
.individual-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin:  10px;
    font-size: medium;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    color: rgb(219, 215, 215);
    font-family: -apple-system;
    background-color: rgba(255, 255, 255, 0.3);
}
.individual-data:hover{
  background-color: rgba(226, 224, 224, 0.3);
  cursor: pointer;
}
.analytical-icons1,
.analytical-icons2,
.analytical-icons3,
.analytical-icons4,
.analytical-icons5,
.analytical-icons6{
    font-size: xx-large;
    border-radius: 3px;
    max-width: 100%;
    min-width: 100%;
    padding: 5px 0px 5px 0px;
    color: rgba(0, 0, 0, 0.829);
    font-weight: bold;
}
.analytical-icons1{
    background-color: rgba(173, 216, 230, 0.514);
 
}
.analytical-icons2{
    background-color: rgba(255, 255, 255, 0.253);

}
.analytical-icons3{
    background-color: rgba(255, 255, 255, 0.164);
}
.analytical-icons4{
    background-color: rgba(255, 255, 255, 0.253);
}
.analytical-icons5{
    background-color: #ffffff3f;

}
.analytical-icons6{
    background-color:rgba(255, 255, 255, 0.247) ;
}

@media (min-width: 500px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr ;
    }
  }
@media (min-width: 660px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
@media (min-width: 920px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1157px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1400px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1336px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
 .real-number-data{
  font-size: x-large;
  font-weight: bold;
  color: black;
  font-family: -apple-syatem;
 }