.main-analysis{
   display: flex;
   align-items: center;
   justify-content: center;
    width:100%;
    margin: 20px;
    border-radius: 5px;
}
.individual-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    min-width: fit-content;
    max-width: 100%;
    font-size: medium;
    font-family: -apple-system;
}
.analytical-icons1,
.analytical-icons2,
.analytical-icons3,
.analytical-icons4,
.analytical-icons5,
.analytical-icons6{
    font-size: xx-large;
    margin: 5px;
    border-radius: 3px;
    max-width: 100%;
    min-width: 100%;
    
    padding: 5px 0px 5px 0px;
}
.analytical-icons1{
    background-color: rgba(173, 216, 230, 0.514);
    color: blue;
}
.analytical-icons2{
    color: green;
    background-color: rgba(0, 128, 0, 0.253);

}
.analytical-icons3{
    background-color: rgba(255, 0, 0, 0.164);
    color: red;

}
.analytical-icons4{
    color: rgb(105, 103, 9);
    background-color: rgba(255, 255, 0, 0.253);

}
.analytical-icons5{
    color: blueviolet;
    background-color: rgba(137, 43, 226, 0.247);

}
.analytical-icons6{
    background-color:rgba(32, 164, 168, 0.247) ;
    color: rgb(13, 162, 189);
}

@media (min-width: 500px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr ;
    }
  }
@media (min-width: 660px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
@media (min-width: 920px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1157px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1400px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1336px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
 