.Log-out-button{
   background-color: rgba(28, 28, 29, 0.918);
   border-radius: 5px;
   width: 100%;
   color: rgb(192, 191, 189);
   margin-top: 20px;
}
.Log-out-button:hover{
   color: rgb(219, 20, 20);
   transition: all 0.3s;
   background-color: rgba(28, 28, 29, 0.8);

}
.logout-icon{
   margin-right: 20px;
}