.account-inputs{
    height: 25px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}
.create-account-title-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 200px;
    color: white;
    background: linear-gradient(to top left, #0a284a, #262930); /* Example gradient colors */
}
.createAccount-section{
    display: flex;
    flex-direction: column; 
}
.occupation-input{
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.account-title-section{
  color: white;
  border-radius: 5px;
}
.create-account-picture{
    margin-bottom: 20px;
    height: 25px;
    padding: 7px;
    border-radius: 5px;
}
.main-create-account{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sub-create-account{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(190, 191, 192);
}
.create-account-labels{
    margin-top: 10px;
}
.password-description{
    padding-left:20px;
    background-color: rgb(73, 114, 128);
    color: white;
    
}
.password-description-title{
    color: black;
}
.password-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
}
.password-input{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}
.eye{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 100%;
    border-top-right-radius: 5px;
}
.create-account-button{
    background: linear-gradient(to top left, #0a284a, #262930); 
    border-radius: 5px;

}