.announcement-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: white;
}
.main-announcement{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.under-title{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
}
.home-container{
    display: flex;
    align-items: center;
    background-color: rgb(2, 26, 70);    padding-left: 20px;
    height: 70px;
    font-size: small;
    padding-left: 30px;
    font-family: -apple-system;
}
.title-input{
    height: 30px;
    outline: none;
    border: none;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #eaeaeb;
    font-family: -apple-system;
    font-size: medium;
    padding-left: 5px;
}
.description-input{
    border: none;
    outline: none;
    margin-top:5px;
    margin-bottom :20px;
    min-width: 99%;
    max-width:99%;
    padding: 5px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 5px;
    background-color: #eaeaeb;
    font-family: -apple-system;
    font-size: medium;
}
.title-label{
    font-family: -apple-system;
    font-size: medium;
}
.description-label{
    font-family: -apple-system;
    font-size: medium;
}
.ma{
    display: flex;
    flex-direction: column;
}
.clear-announcement-button{
    background-color: rgb(2, 26, 70);    color: white;
    font-size: medium;
    font-family: -apple-system;
    width: 100px;
    border-radius: 5px;
}
.announcement-button{
    background-color: rgb(2, 26, 70);    width: 100px;
    font-size: medium;
    font-family: -apple-system;
    margin-right: 20px;
    border-radius: 5px;
}
.clear-announcement-button:hover,
.announcement-button:hover{
    background-color: rgba(2, 26, 70, 0.938);}
.the-two-buttons{
    display: flex;
    align-items: center;
}