.announcement-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: white;
}
.main-announcement{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.under-title{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 215, 216);
    padding: 50px;
    border-radius: 5px;
    margin-top: 20px;
}
.home-container{
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #0a284a, #262930); /* Example gradient colors */
    padding-left: 20px;
    height: 200px;
}
.title-input{
    height: 30px;
    outline: none;
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
}
.description-input{
    border: none;
    outline: none;
    margin-top:5px;
    margin-bottom :20px;
    min-width: 99%;
    max-width:99%;
    padding: 5px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 5px;
}
.ma{
    display: flex;
    flex-direction: column;
}
.clear-announcement-button{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    color: white;
}
.announcement-button{
    background: linear-gradient(to top left, #0a284a, #262930); /* Example gradient colors */
}